/* Tailwind & DaisyUI setup */
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

/* Required for Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; /* ✅ make sure vertical scroll is allowed */
}

/* Custom Theme Variables */
@theme {
  --breakpoint-xxs: 21.25rem; /* 340px */
  --breakpoint-xs: 23.125rem; /* 363px */
  --breakpoint-xxl: 82.5rem;  /* 1320px */

  --color-picto-primary: #13c4b5f6;
  --color-picto-primary-dark: #650fa0;
  --color-soft-white: #f0f1f3;
  --color-soft-dark: #87909d;
  --prured: #ED1B2E;
}

/* Custom Utilities */
.btn-primary {
  @apply bg-picto-primary border-0 text-white hover:bg-picto-primary-dark;
}

.content {
  @apply w-full max-xxl:w-full xxl:max-w-[1320px] xxl:mx-auto;
}

.section-title {
  @apply text-3xl sm:text-4xl md:text-5xl font-medium md:font-semibold;
}

.center {
  @apply flex justify-center items-center;
}

/* Background Gradients */
.introduction-profile-background {
  background: radial-gradient(
      circle at 12% 100%,
      #ffe2b0f5 1% 5px,
      transparent 15%
    ),
    radial-gradient(circle at 95% -15%, #da4df166 5%, transparent 30%),
    radial-gradient(circle at center right, #c4f5e9b2 2%, transparent 35%);
}

.blog-background {
  background: radial-gradient(circle at -10% 0%, #da4df166 1%, transparent 25%),
    radial-gradient(circle at 110% 30%, #c4f5e9b2 5%, transparent 25%);
}
